# .NET Maui general ignores
bin/
obj/
*.userprefs
*.userosscache
*.suo
*.user
*.user.*
*.sln

# Android specific ignores
*.apk
*.ap_
*.dex
*.class
*.log
*.keystore
*.jks
*.cscfg
*.csproj.user
*.db
*.db-shm
*.db-wal
.idea/
.gradle/
build/
local.properties
.externalNativeBuild/

# Visual Studio specific ignores
.vs/
.vscode/
*.vsconfig

# macOS specific ignores
.DS_Store

.fake